<div class="about-wrapper">
<svg
   ng-click="activateSVG()"   
   ng-mousemove="moved($event)"
   xmlns:dc="http://purl.org/dc/elements/1.1/"
   xmlns:cc="http://creativecommons.org/ns#"
   xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
   xmlns:svg="http://www.w3.org/2000/svg"
   xmlns="http://www.w3.org/2000/svg"
   preserveAspectRatio="none"
   viewBox="0 0 1000 1000"
   width="{{svgSize}}"
   height="{{svgSize}}"
   id="trianglesvg"
   version="1.1">
  <defs
     id="defs3986" />  
  <metadata
     id="metadata3989">
    <rdf:RDF>
      <cc:Work
         rdf:about="">
        <dc:format>image/svg+xml</dc:format>
        <dc:type
           rdf:resource="http://purl.org/dc/dcmitype/StillImage" />
        <dc:title></dc:title>
      </cc:Work>
    </rdf:RDF>
  </metadata>
  <g
     inkscape:label="Layer 1"
     inkscape:groupmode="layer"
     id="layer1">
    <rect
       style="fill:#82d9d7;fill-opacity:1;stroke:none"
       id="rect3189"
       width="1000"
       height="1000"
       x="0"
       y="0" />
       <path
       style="opacity:0.83628319;fill:#494949;fill-opacity:1;stroke:none"
       d="M {{aPoint}} {{bPoint}} {{cPoint}} {{shadowpoint.x}},{{shadowpoint.y}} z"
       id="shadow"
       visibility="{{visibility}}"
       inkscape:connector-curvature="0"
       sodipodi:nodetypes="ccccc" />
    <path
       style="opacity:{{eastside}};fill:#8a8a8a;fill-opacity:1;stroke:none"
       d="m 600,400 0,200 -100,-100 z"
       id="eastside"
       inkscape:connector-curvature="0"
       sodipodi:nodetypes="cccc"
       inkscape:label="#eastside" />
    <path
       sodipodi:nodetypes="cccc"
       inkscape:connector-curvature="0"
       id="westside"
       d="m 400,400 0,200 100,-100 z"
       style="opacity:{{westside}};fill:#8a8a8a;fill-opacity:1;stroke:none" />
    <path
       style="opacity:{{southside}};fill:#8a8a8a;fill-opacity:1;stroke:none"
       d="m 400,600 200,0 -100,-100 z"
       id="southside"
       inkscape:connector-curvature="0"
       sodipodi:nodetypes="cccc" />
    <path
       sodipodi:nodetypes="cccc"
       inkscape:connector-curvature="0"
       id="northside"
       d="m 400,400 200,0 -100,100 z"
       style="opacity:{{northside}};fill:#8a8a8a;fill-opacity:1;stroke:none" />
    
  </g>
</svg>
<p class="abouttext">Hi I'm <a href="#/code">Ross</a>, I <a href="#/code">code</a> and make <a href="#/graphics">graphics</a>.</p>
</div>
