<header>#/code</header>
<section class="code-sec">
	<p>I specialise mainly in object oriented languages like C++ and Java. When it comes to web dev, while I know a few bits and pieces of back-end tools, languages and 
	have set up a dozen servers, I'm primarily a front-end web developer using Javascript and HTML5 features. I'm currently learning AngularJS Javascript framework, which is what this site is based on.<br> 
<a href="table/">Here</a> is a client-side generated sports standings table with canvas generated jerseys I've made recently. Source on <a href="https://github.com/rossvor/Mng">github</a>.
</p>
<p>In the past I worked on a indie F1 manager simulator as a cg artist which didn't see the light of day. 
After that I became interested game development in general, including coding, which resulted in a few dabblings with 3D engines Irrlicht3D and Ogre3D. 
I'm also developing an Android app which I will upload to github very soon. 
</p>
<p>You can check out some of my ramblings on my <a href="http://rossvor.github.io/">blog</a>.</p>

</section>

